
@import "tailwindcss";

@font-face {
    font-family: "AI Font";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Michroma-Regular.woff2") 
    format("woff2");
}

body {
    font-family: "AI Font", sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
    @apply grid min-h-dvh grid-rows-[auto_1fr_auto];
}
