<footer class="bg-black p-8">
    <ul class="flex items-center justify-evenly max-w-84 w-full mx-auto flex-col md:flex-row">
        <li>
            <img src="AI_website_logo.webp" 
                alt="AI_website_logo_footer" 
                class="w-9 h-9 mb-3 mx-auto md:hidden block"
            /> 
            <p class="text-white text-xs uppercase">
                © Javier Úbeda Rayo
            </p>
        </li>

        <li>
            <ul class="flex items-center flex-row gap-3 md:mt-0 mt-4">
                 <li class="p-1 bg-cyan-500 rounded-lg transition duration-300 hover:scale-110">
                    <a href="https://www.linkedin.com/in/javierubedarayo/" target="_blank" title="Linkedin">
                        <img src="assets/images/svg/linkedin.svg" alt="Linkedin" class="w-6 h-6">
                    </a>
                </li>

                <li class="p-1 bg-cyan-500 rounded-lg transition duration-300 hover:scale-110">
                    <a href="https://github.com/javub25/" target="_blank" title="Github from Javier Ubeda">
                        <img src="assets/images/svg/github.svg" alt="Github" class="w-6 h-6">
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</footer>